# ComfyUI-Manager
GitPython
PyGithub
matrix-client==0.4.0
transformers
huggingface-hub>0.20
typer
rich
typing-extensions

# Impact Pack
piexif
opencv-python-headless
scipy>=1.11.4

# IPAdapter
insightface>=0.7.3
onnx>=1.16.1
onnxruntime>=1.18.0

# Reactor
numpy
segment_anything
opencv-python>=4.7.0.72

# ComfyUI-essential
numba
colour-science
rembg>=2.0.57
pixeloe

# Segment segment
timm
addict
yapf

# impact pack
ultralytics>=8.2.32

# Yolo-ESAM
inference-gpu[yolo-world]==0.9.15